.avatar {
  position: relative;
  display: block;
  width: 160px;
  height: 160px;
  margin: 0 auto;
}

.avatarEdit {
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 160px;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 100%;
  border: 0;
  cursor: pointer;
}